@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

body {
  background-image: url('images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list {
    display: flex;
    height: 74px;
    width: 330px;
    justify-content: center;
    justify-content: space-evenly;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}
  .card {
    width: 375px;
    height: 560px;
    margin: 10px;
    margin-top: 40px;
    /*box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.3);*/
    background-color: white;
    border-radius: 15px;
    border: 0.5px solid hsl(224, 23%, 55%) ;
  } 
  .card img {
    max-width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .card .text {
    padding: 0 20px 20px;
  }
.title {
    font-family:Red Hat Display, sans-serif;
    font-weight: 900;
    text-align: center;
    color: hsl(223, 47%, 23%);
}
.paragraph {
    font-family: Red Hat Display, sans-serif;
    font-weight: 500;
    text-align: center;
    color: hsl(224, 23%, 55%);
}
.button {
    width: 298px;
    height: 42px;
    border-radius: 7px;
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: hsl(225, 100%, 94%);
    font-weight: 700;
    margin-left: 16px;
    box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    font-size: 14px;
    margin-top: 32px;
    transition: 400ms ease-in-out;
}
.button:hover {
  background-color: hsl(224, 23%, 55%);
}
.cancel-order {
    justify-content: center;
    font-weight: 700;
    font-family: Red Hat Display;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-size: 14px;
    margin-left: 117px;
    transition: 300ms ease-in-out;
}
.cancel-order:hover {
  color: hsl(245, 75%, 52%);
}
.icon {
    height: 50px;
    margin-top: 11px;
    margin-bottom: 6px;
    margin-right: 290px;
}
.float-left {
    width: 3rem;
}
.float {
    font-size: 11px;
    font-family: Red Hat Display, sans-serif;
    font-weight: 500;
    color: hsl(223, 47%, 23%);
    margin-right: 55px;
  }
.floatp {
    font-family: Red Hat Display, sans-serif;
    color: hsl(224, 23%, 55%);
    font-size: 13px;
    font-weight: 500;
    margin-top: -10px;
}
  .float-right {
    width: 20%;
    display: flex;
    font-family: Red Hat Display, sans-serif;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
  }
  
  .float-right a {
    color: hsl(246, 52%, 52%);
    font-weight: 700;
    font-size: 13px;
  }
@media screen and (max-width: 375px) {
  body {
    background: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
  }
  .cards {
    max-width: 85%;
  }

}