:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --ff-primary: "Spartan", sans-serif;
    --fs400: 0.8125rem;
    --fs500: 0.9625rem;
    --fs700: 2rem;

}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--ff-primary);
    font-size: var(--fs400);
    padding-top: 5rem;
}
/* Main Block/Container/Heading */
.container {
    max-width: 70rem;
    padding: 0;
    margin: 0 auto;
}
.flow-content > * + * {
    margin-top: var(--flow-space, 1rem);
}
.heading {
    text-align: center;
}
h1 {
    color: var(--very-dark-magenta);
    font-size: var(--fs700);
    font-weight: 800;
    line-height: 1;
    max-width: 12ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.subtitle {
    color: var(--dark-grayish-magenta);
    line-height: 1.7;
    font-size: var(--fs500);
    font-weight: 500;
}
/* Main Block/Container/Stats/Review */
/* Stats Block */
.status {
    text-align: center;
    max-width: 25rem;
    margin: 0 auto;
}
.rating {
    padding: 0.5rem;
    background-color: var(--light-grayish-magenta);
    font-weight: 800;
    color: var(--very-dark-magenta);
    border-radius: 7px;
}
.rating::before {
    content: '';
    width: 6.25rem;
    height: 1rem;
    margin: 0 auto;
    display: block;
    background-image: url(../images/icon-star.svg);
    margin-bottom: 1rem;
    background-repeat: space;
} 
/* Main Block/Container/Quotes/.. */
.a-center {
    align-items: center;
}  
.reviews {
}
.review {
    background-color: var(--very-dark-magenta);
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 8px;
    max-width: 25rem;
    padding: 2rem;

}
.review img {
    display: inline-block;
    border-radius: 50%;
    width: 60px;  
    margin-right: 1.5rem;
    margin-bottom: -12px;

}
.subreview {
    display: inline-block;
    line-height: 0;
}  
.name {
    font-weight: 700;
    color: var(--white);
    font-size: var(--fs400);
    line-height: 0;
}
.profile__status {
    font-weight: 400;
    color: var(--soft-pink);
    font-size: var(--fs400);
    line-height: 1.5;
} 
.opinion {
    display: block;
    color: var(--light-grayish-magenta);
    line-height: 2;
    letter-spacing: 0.03125rem;
    padding-top: 0.625rem;
}
